/*Homepage Styles */
/* img {
    display: block;
    margin: auto;
    width: 50%;
}
*/

h2 {
    color:azure;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 10px; 
} 

body {
    margin: 0;
}

#homelist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none; 
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background-color: #E0E0E0;
    padding: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 65px;
    width: 1443px;
    z-index: 5;
}

nav ul a:visited {
	color: black;
    text-decoration: none;
}

nav ul a:hover {
	color: black;
    text-decoration: none;
} 


#seework { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    z-index: 3;
    background-color: #E0E0E0;
    width: 230px;
    text-align: center;
}

#seework a {
    font-size: 1em;
    transition: all 500ms;
}

#seework a:hover {
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-size-adjust: 10px;
}

#seework a:visited {
    color: black;
}

#homephoto {
    position: absolute;
    z-index: 1;
}

/*Workpage */
#flexcontainer {
    display: flex;
    background-color: black;
    font-family: 'Lato', sans-serif;
    padding: 25px;
    border: solid black 20px;
}

.item1 {
    background-color:#E0E0E0;
    width: 500px;
    color: black;
    text-align:center;
    line-height: 550px;
}

#flexcontainer2 {
    display: flex;
    background-color: black;
    font-family: 'Lato', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-left: solid black 20px;
    border-right: solid black 20px;
    border-bottom: solid black 20px;
}

.item2 {
    background-color:#E0E0E0;
    width: 500px;
    color: black;
    text-align:center;
    line-height: 550px;
}

#flexcontainer3 {
    display: flex;
    background-color: black;
    font-family: 'Lato', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-left: solid black 20px;
    border-right: solid black 20px;
    border-bottom: solid black 20px;
}

.item3 {
    background-color:#E0E0E0;
    width: 500px;
    color: black;
    text-align:center;
    line-height: 550px;
}

/* about.html */

#aboutdescription {
    color: black;
    background-color: #E0E0E0;
    text-align: center;
    font-size-adjust: 0.58;
    width: 920px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

#aboutdescription > img {
    padding-top: 10px;
}

#aboutdescription > p {
    width: 600px;
    text-align: justify;
    margin: auto;
}

ul {
     
    font-family: 'Lato', sans-serif;
    width: 600px;
    text-align: justify;
    padding-left: 155px;
}


/* contact.html */
body {
    background-color: black;
    z-index: 4;
}

#form {
    background-color: #E0E0E0;
    width: 500px;
    margin: 0% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    font-family: 'Lato', sans-serif;
}

#form > h1 {
    position: relative;
    left: 33px;
}
form {
    width: 60%;
    padding-bottom: 28px;
    margin: 0 auto;
  }
  
label {
    display: block;
    margin-top: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black;
  }

  #landscapes {
    text-align: center;
    margin: 20px;
  }

#portrait {
    text-align: center;
    margin: 20px;
}

#final {
    text-align: center;
    margin: 20px;
}

.item1 > a:visited {
        color: black;
        text-decoration: none;
    }
    
.item1 > a:hover {
        color: black;
        text-decoration: underline;
    } 

a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
    }

a:hover {
    text-decoration: underline;
}

#paintings {
    margin: 20px;
    text-align: center;
}
